@using marketplace.DTO.Catalog.Address

@{
    var areaDTOViewData = ViewData["AreaDTOs"];
    if (areaDTOViewData == null)
    {
        return;
    }
    var areaDTOs = (List<AreaDTO>)areaDTOViewData;
}

<ul aria-labelledby="addressMenu" class="dropdown-menu dropdown-menu-lg border-0 shadow">
    <!-- Level two dropdown-->
    @{
        var i = 1;
        var areaMenuPrefixName = "areaMenu";
        foreach (var area in areaDTOs)
        {
            var areaMenuName = areaMenuPrefixName + i;
            <li class="dropdown-submenu dropdown-hover">
                <a id="@areaMenuName" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="dropdown-item dropdown-toggle">@area.Name (@area.TotalStore)</a>
                <ul aria-labelledby="@areaMenuName" class="dropdown-menu border-0 shadow">
                    @if (area.ProvinceDTOs != null)
                    {
                        foreach (var province in area.ProvinceDTOs)
                        {
                            <li>
                                <a href="@province.RelativeUrl" class="dropdown-item">@province.Name (@province.TotalStore)</a>
                            </li>
                        }
                    }   
                </ul>
            </li>
            i = i + 1;
        }
    }
</ul>
