<!DOCTYPE html>
<html lang="en">




<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"]</title>

  <partial name="AdminLTE/_Styles" />

  @RenderSection("MPStyles", required: false)

</head>












<body class="hold-transition sidebar-mini layout-fixed">


  <div class="wrapper">

    <partial name="AdminLTE/_Preloader" />

    @RenderSection("TopNavigation", required: false)

    @RenderSection("MainNavigation", required: false)

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <partial name="AdminLTE/_ContentHeader" />

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          @RenderBody()
        </div>
      </section>
      <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <partial name="AdminLTE/_Footer" />

  </div>
  <!-- ./wrapper -->


  <partial name="AdminLTE/_Scripts" />

  @RenderSection("MPScripts", required: false)






</body>

</html>