@using marketplace.Utilities.Const
@using static marketplace.Utilities.WebMVC.Extensions.NavigationIndicatorHelper;

@{
    var userName = Context.Request.Cookies[CookieConst.UserName];
    var userImage = Context.Request.Cookies[CookieConst.UserImage];
    var roleGroup = Context.Request.Cookies[CookieConst.RoleGroup];
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Hello, World!</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img id="UserImage" src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block" id="UserName">Guest</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item ">
                    <a href="@UrlConst.g_home_get" class='nav-link @Url.MakeActiveClass("home","index")'>
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                @if (roleGroup == RoleConst.Group.Admin)
                {
                    <li class="nav-item ">
                        <a href="@UrlConst.g_home_get" class='nav-link @Url.MakeActiveClass("home","index")'>
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                VIP 1
                            </p>
                        </a>
                    </li>
                }
                @if (String.IsNullOrEmpty(userName))
                {
                    <li class="nav-item ">
                        <a href="@UrlConst.g_user_login_post" class='nav-link @Url.MakeActiveClass("user","login")'>
                            <i class="nav-icon fas fa-lock"></i>
                            <p>
                                Login
                            </p>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item ">
                        <a asp-controller="User" asp-action="Login" class='nav-link @Url.MakeActiveClass("user","login")'>
                            <i class="nav-icon fas fa-lock"></i>
                            <p>
                                Chi tiết tài khoản
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="User" asp-action="Logout" class='nav-link @Url.MakeActiveClass("user","logout")'>
                            <i class="nav-icon fas fa-lock"></i>
                            <p>
                                Đăng xuất
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>




@* <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
    <div class="input-group-append">
    <button class="btn btn-sidebar">
    <i class="fas fa-search fa-fw"></i>
    </button>
    </div>
    </div>
    </div> *@



@* <li class="nav-item menu-open">
    <a href="#" class="nav-link active">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p>
    Starter Pages
    <i class="right fas fa-angle-left"></i>
    </p>
    </a>
    <ul class="nav nav-treeview">
    <li class="nav-item">
    <a href="#" class="nav-link active">
    <i class="far fa-circle nav-icon"></i>
    <p>Active Page</p>
    </a>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">
    <i class="far fa-circle nav-icon"></i>
    <p>Inactive Page</p>
    </a>
    </li>
    </ul>
    </li>

    <li class="nav-item">
    <a href="#" class="nav-link">
    <i class="nav-icon fas fa-th"></i>
    <p>
    Simple Link
    <span class="right badge badge-danger">New</span>
    </p>
    </a>
    </li> *@